In [ ]:
#worker list, change it with faker
!pip install csvfaker --quiet

Collecting csvfaker
  Downloading csvfaker-1.0.5.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Collecting Faker (from csvfaker)
  Downloading Faker-36.1.1-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /Users/gunnarkleemann/opt/anaconda3/envs/bootcamp3/lib/python3.11/site-packages (from Faker->csvfaker) (2023.3)
Downloading Faker-36.1.1-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 13.6 MB/s eta 0:00:00
Building wheels for collected packages: csvfaker
  Building wheel for csvfaker (setup.py) ... done
  Created wheel for csvfaker: filename=csvfaker-1.0.5-py3-none-any.whl size=4117 sha256=95be09a5c05df80000e8cc78dc872c4f8da26438306bc67b3c244dabab4e90c3
  Stored in directory: /Users/gunnarkleemann/Library/Caches/pip/wheels/1b/49/90/30b0521837019558b4ea9fc8265cec1a51847797b80f30d010
Successfully built csvfaker
Installing collected packages: Faker, csvfaker
Successfully installed Faker-36.1.1 csvfaker-1.0.5

In [8]:
import json
import pandas as pd
from faker import Faker

# Initialize the Faker object
fake = Faker()

In [103]:
## load the data
co_data=pd.read_csv('data_compare.csv', na_filter=False)
#co_data=pd.read_csv('demo_companydata.csv', na_filter=False)

#print(co_data.info())
print(co_data.columns)
co_data=co_data[['Source', 'Target', 'Status', 'Inv_name']]
display(co_data.head(3))

Index(['Unnamed: 0', 'Source', 'Target', 'Status', 'Inv_name'], dtype='object')

,Source,Target,Status,Inv_name
0,acd,nd,nd,?
1,acd,iqumulus,paid,08_22_acd_celenase_kh_invoice
2,acd,accelebrate,nd,accelebrate_spark materials_invoice_3 - google...

In [105]:
workers=["k.martin","g.kleemann","a.martinez", "c.healey" ,"g.cahal" ,"g.mein" ,
    "h.jang" , "j.ying" ,"k.kamerkar", "l.matheson" , "l.yurica" ,
    "m.castro" ,"m.labowitz" , "m.laturney" ,
    "o.darwish" ,"p.denkabe" ,"r.lee" , "s.panesar" , "t.alabi" , "y.mirza"]

fake_nameparser=lambda:((fake.name()).split()[0][0]+'.'+(fake.name()).split()[0]).lower()
worker_remap = {wk:fake_nameparser() for wk in workers}
display(worker_remap)

remap = {'changecx': 'acme_goods', 'perl health': 'acme_goods' , 'pma': 'acme_goods',
'spectre': 'change_health', 'iqumulus': 'change_health', 'grakn': 'change_health', 
'rancho_biosciences': 'change_health',
't.gerbino': "public_goods", 'family_acct': "public_goods", 'omicia': 'mylar_co',
"webage": 'edu_analogy', "bhanalyitcs": 'edu_analogy', "accelebrate": 'edu_analogy',
'axcel':'global_learning', 'data_society': 'global_learning',
'exit_certifed' : 'teachers_partner', 'acd': 'austin_capital_data'}

print(remap)

{'k.martin': 'b.christopher',
 'g.kleemann': 'g.debbie',
 'a.martinez': 'n.benjamin',
 'c.healey': 'a.elizabeth',
 'g.cahal': 'j.gregory',
 'g.mein': 'b.edward',
 'h.jang': 'm.steve',
 'j.ying': 'c.brian',
 'k.kamerkar': 'p.garrett',
 'l.matheson': 'k.dominique',
 'l.yurica': 'j.amy',
 'm.castro': 'n.michael',
 'm.labowitz': 'd.hannah',
 'm.laturney': 's.destiny',
 'o.darwish': 'a.luis',
 'p.denkabe': 'a.john',
 'r.lee': 'h.victoria',
 's.panesar': 'e.jon',
 't.alabi': 'l.jeffrey',
 'y.mirza': 'n.john'}

{'changecx': 'acme_goods', 'perl health': 'acme_goods', 'pma': 'acme_goods', 'spectre': 'change_health', 'iqumulus': 'change_health', 'grakn': 'change_health', 'rancho_biosciences': 'change_health', 't.gerbino': 'public_goods', 'family_acct': 'public_goods', 'omicia': 'mylar_co', 'webage': 'edu_analogy', 'bhanalyitcs': 'edu_analogy', 'accelebrate': 'edu_analogy', 'axcel': 'global_learning', 'data_society': 'global_learning', 'exit_certifed': 'teachers_partner', 'acd': 'austin_capital_data'}

In [106]:
entity_type_mappings_dict = {"webage":"training_co","bhanalyitcs":"training_co","accelebrate":"training_co",
    'axcel':"training_co", 'data_society':"training_co", 'exit_certifed':"training_co",

    'changecx':'client', 'perl health':'client', 'pma':'client', 
    'rancho_biosciences':'client','grakn':'client','iqumulus':'client',
    'omicia':'client', 'spectre':'client',  't.gerbino':'client', 'family_acct':'client', 

    "acd":"talent_co",

    'owner donation':'other', 'square inc o':'service','asmbly':'service',
    '':'other','nd':'other','other':'other','na':'other',

    "k.martin":"worker","g.kleemann":"worker",
    "a.martinez":"worker","c.healey":"worker",
    "g.cahal":"worker","g.mein":"worker","h.jang":"worker",
    "j.ying":"worker","k.kamerkar":"worker",
    "l.matheson":"worker","l.yurica":"worker","m.castro":"worker",
    "m.labowitz":"worker","m.laturney":"worker","o.darwish":"worker",
    "p.denkabe":"worker","r.lee":"worker","s.panesar":"worker",
    "t.alabi":"worker","y.mirza":"worker" 
    }

In [107]:
def find_and_replace_dict(data, find, replace):
    new_dict = {}
    for key, value in data.items():
        new_key = key.replace(find, replace) if isinstance(key, str) else key
        new_value = value.replace(find, replace) if isinstance(value, str) else value
        new_dict[new_key] = new_value
    return new_dict

# my_dict = {"apple pie": "apple filling", "banana bread": "banana mush"}
# find_string = "apple"
# replace_string = "orange"

# updated_dict = find_and_replace_dict(my_dict, find_string, replace_string)
# print(updated_dict)
# # Expected output: {'orange pie': 'orange filling', 'banana bread': 'banana mush'}

In [108]:
# update the entity structure
updated_dict=entity_type_mappings_dict.copy()

for k in remap:
    updated_dict = find_and_replace_dict(updated_dict, k, remap[k])
#print(updated_dict)

for k in worker_remap:
    updated_dict = find_and_replace_dict(updated_dict, k, worker_remap[k])
print(updated_dict)


# df_replaced = replace_strings_dict(df.copy(), 'col1', replacement_dict)
# print("DataFrame with 'col1' replaced:\n", df_replaced)

{'edu_analogy': 'training_co', 'global_learning': 'training_co', 'teachers_partner': 'training_co', 'acme_goods': 'client', 'change_health': 'client', 'mylar_co': 'client', 'public_goods': 'client', 'austin_capital_data': 'talent_co', 'owner donation': 'other', 'square inc o': 'service', 'asmbly': 'service', '': 'other', 'nd': 'other', 'other': 'other', 'na': 'other', 'b.christopher': 'worker', 'g.debbie': 'worker', 'n.benjamin': 'worker', 'a.elizabeth': 'worker', 'j.gregory': 'worker', 'b.edward': 'worker', 'm.steve': 'worker', 'c.brian': 'worker', 'p.garrett': 'worker', 'k.dominique': 'worker', 'j.amy': 'worker', 'n.michael': 'worker', 'd.hannah': 'worker', 's.destiny': 'worker', 'a.luis': 'worker', 'a.john': 'worker', 'h.victoria': 'worker', 'e.jon': 'worker', 'l.jeffrey': 'worker', 'n.john': 'worker'}

In [109]:
df=co_data.copy()

for col in ['Source', 'Target']:
    df[col] = df[col].replace(remap, regex=False)
    df[col] = df[col].replace(worker_remap, regex=False)
display('modified data frame', df)

'modified data frame'

,Source,Target,Status,Inv_name
0,austin_capital_data,nd,nd,?
1,austin_capital_data,change_health,paid,08_22_acd_celenase_kh_invoice
2,austin_capital_data,edu_analogy,nd,accelebrate_spark materials_invoice_3 - google...
3,austin_capital_data,edu_analogy,nd,accelebrate_spark materials_invoice_4_update.pdf
4,austin_capital_data,edu_analogy,nd,accelebrate_spark_invoice_4.pdf
...,...,...,...,...
375,n.john,austin_capital_data,paid,ymirza_11112_feb_24-2/25/24
376,n.john,austin_capital_data,paid,ymirza_11116_augment
377,n.john,austin_capital_data,paid,ymirza_12_23
378,n.john,austin_capital_data,void,ymirza_x_mar_24-3/25/24
379,austin_capital_data,asmbly,paid,zelle payment from asmbly

In [110]:
## save or load the main data.
df.to_csv('demo_companydata.csv', index=False)

# references

https://www.dennisokeeffe.com/blog/2021-08-11-generating-fake-csv-data-with-python

https://medium.com/@Shamimw/generating-fake-data-csv-json-parquet-using-python-db640a369a6a

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (851526181.py, line 2)